body{
    margin:0px;
}

img.logo{
    height: 11vh;
    width: auto;
}


.conteudo-inicial h2{
    flex-direction: row;
    color:rgba(255, 102, 0, 0.925)
}

.barra-inicial{
    align-items: center;
    padding-right: 35vh;
    padding-left: 35vh;
    display: flex;
    background-color: rgb(248, 247, 247);
    width: 100%;
    height: 10vh;
}

.barra-inicial h3{
    padding: 4vh;
}

.barra-inicial p{
    color:rgba(255, 102, 0, 0.925);
    padding-left:  80vh;
    align-items: end;
}

.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 59vh;
    width: 100%;
    background-color: rgba(255, 102, 0, 0.932);
}

.forms{
    display: flex;
    flex-direction: column;
    width: 40vh;
    padding: 4vh;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.forms h2{
    text-align: center;
    margin-bottom: 2vh;
}

.forms input{
    padding: 1.5vh;
    margin-bottom: 1.5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.btn-entrar{
    padding: 1.5vh;
    background-color: rgba(255, 102, 0, 0.925);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 1.5vh;
    border-color: solid rgb(0, 0, 0) 1px;
}

.links-linha{
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
}

.links-linha a{
    color: rgba(4, 0, 255, 0.979);
    text-decoration: none;
}

.rodape{
    display: flex;
    width: 100%;
    height: 37vh;
    background-color: rgba(245, 245, 245, 0.767)
}