<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    
    <header class="logo">
        <img src="../assets/img/logo-xhoppi.png" alt="Logo Xhopii">
        <h2>Xhopii</h2>
        <p><a href="index.html">Sair</a></p>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
            <li><a href="">Cadastro Funcionario</a></li>
            <li><a href="">Cadastro Produto</a></li>
            <li><a href="">Ver Clientes</a></li>
            <li><a href="">Ver Funcionários</a></li>
            <li><a href="">Ver Produtos</a></li>
        </ul>
    </nav>

    <!-- Carrossel -->
   <div class="container-carousel">
        <div id="carouselXhopii" class="carousel slide banner-carousel" data-bs-ride="carousel">

            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselXhopii" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselXhopii" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselXhopii" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/img/card1.png" class="d-block w-100" alt="Card 1">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/card2.png" class="d-block w-100" alt="Card 2">
                </div>
                <div class="carousel-item">
                    <img src="../assets/img/card3.png" class="d-block w-100" alt="Card 3">
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselXhopii" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselXhopii" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Próximo</span>
            </button>

        </div>
    </div>
    <div class="anuncio">
        
            <img src="../assets/img/Shopee-banner.jpg" alt="">
        
    </div>
    <div class="descobertas">
        <h5>DESCOBERTAS DO DIA</h5>
    </div>
    <section class="camisas">
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
            
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div>
        <div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p>Camisa Desenvolvimento Front-End CSS</p>
            <div>
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
            
        </div>

    </section>
    <section class="rodape">
        <div class="rodape-coluna">
            <h1>Atendimento ao cliente</h1>
            <ul>
                <li>Central de ajuda</li>
                <li>Como comprar</li>
                <li>Métodos de pagamento</li>
                <li>Garantia Xhoppi</li>
                <li>Devolução e Reembolso</li>
                <li>Fale conosco</li>
                <li>Ouvidoria</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Sobre a Xhopii</h1>
            <ul>
                <li>Sobre nós</li>
                <li>Políticas Xhopii</li>
                <li>Política de Privacidade</li>
                <li>Programa de Afiliados Xhopii</li>
                <li>Seja um entregador Xhopii</li>
                <li>Ofertas relâmpago</li>
                <li>Xhopii Blog</li>
                <li>Impresa</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Pagamento</h1>
            <div class="pagamento-icones">
                <img src="../assets/img/pix.png" alt="Pix">
                <img src="../assets/img/boleto.png" alt="Boleto">
                <img src="../assets/img/amex.png" alt="Amex">
                <img src="../assets/img/visa.png" alt="Visa">
                <img src="../assets/img/master.png" alt="Mastercard">
                <img src="../assets/img/hipercard.png" alt="Hipercard">
                <img src="../assets/img/elo.png" alt="Elo">
            </div>
        </div>
    
        <div class="rodape-coluna">
            <h1>Siga-nos</h1>
            <ul>
              <li><img src="../assets/img/insta.png" alt="logo instagram"> instagram</li>  
                <li> <img src="../assets/img/twitter.png" alt="logo twitter"> Twitter</li>
                <li><img src="../assets/img/facebook.png" alt=""> Facebook</li>
                <li><img src="../assets/img/youtube.png" alt=""> YouTube</li>
                <li><img src="../assets/img/linkedin.png" alt="logo Linkedin"> LinkedIn</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Atendimento ao cliente</h1>
            <img class="qrcode" src="../assets/img/qr.png" alt="QR Code">
            <img class="loja-app" src="../assets/img/google-play.png" alt="Google Play">
            <img class="loja-app" src="../assets/img/app-store.png" alt="App Store">
        </div>
    </section>
    
    <section class="rodape-final">
        <p>&copy; 2026 Xhoppi. Todos os direitos acadêmicos reservados</p>
    </section>

    <!-- Bootstrap JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>