<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/home.css">
    <title>Home</title>
</head>
<body>
    
    <header class="logo">
        <img src="../assets/img/logo-xhoppi.png" alt="Logo Xhopii">
        <h2>Xhopii</h2>
        <p>Sair</p>
      
    </header>
      <nav class="menu">
            <ul>
                <li>Home</li>
                <li>Cadastro Cliente</li>
                <li>Cadastro Funcionario</li>
                <li>Cadastro Produto</li>
                <li>Ver Clientes</li>
                <li>Ver Funcionários</li>
                <li>Ver Produtos</li>
            </ul>
        </nav>

</body>
</html>