<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <section class="barra-inicial">
        <img class="logo" src="../assets/img/logo-xhoppi.png">
        <section class="conteudo-inicial">
            <h2>Xhoppi</h2>
        </section>
        <h3>Entre</h3>
        <p>Precisa de Ajuda?</p>
    </section>

   <section class="fundo">
    <section class="forms">
        <h2>Login</h2>

        <input type="email" placeholder="Email"  required>
        <input type="password" placeholder="Senha" required>

        <button class="btn-entrar">ENTRE</button>

        <div class="links-linha">
            <a href="redefinir-senha.html">Esqueci minha senha</a>
            <a href="#">Fazer login com SMS</a>
        </div>

        <div class="divisor">
            <p>Ou</p>
        </div>

        <div class="login-social">
            <button class="social">
                <img src="../assets/img/facebook-azul.png" alt="Facebook login"> Facebook
            </button>

            <button class="social">
                <img src="../assets/img/google.png" alt="Facebook login"> Google
            </button>

            <button class="social">
                <img src="../assets/img/apple.png" alt="Facebook login"> Apple
            </button>
        </div>

        <p class="cadastro-texto">Novo na Xhoppi? <a href="cadastro-cliente.html">Cadastrar</a></p>
    </section>
    
</section>

    <section class="rodape">
    <div class="rodape-coluna">
        <h1>Atendimento ao cliente</h1>
        <ul>
            <li>Central de ajuda</li>
            <li>Como comprar</li>
            <li>Métodos de pagamento</li>
            <li>Garantia Xhoppi</li>
            <li>Devolução e Reembolso</li>
            <li>Fale conosco</li>
            <li>Ouvidoria</li>
        </ul>
    </div>

    <div class="rodape-coluna">
        <h1>Sobre a Xhopii</h1>
        <ul>
            <li>Sobre nós</li>
            <li>Políticas Xhopii</li>
            <li>Política de Privacidade</li>
            <li>Programa de Afiliados Xhopii</li>
            <li>Seja um entregador Xhopii</li>
            <li>Ofertas relâmpago</li>
            <li>Xhopii Blog</li>
            <li>Impresa</li>
        </ul>
    </div>

    <div class="rodape-coluna">
        <h1>Pagamento</h1>
        <div class="pagamento-icones">
            <img src="../assets/img/pix.png" alt="Pix">
            <img src="../assets/img/boleto.png" alt="Boleto">
            <img src="../assets/img/amex.png" alt="Amex">
            <img src="../assets/img/visa.png" alt="Visa">
            <img src="../assets/img/master.png" alt="Mastercard">
            <img src="../assets/img/hipercard.png" alt="Hipercard">
            <img src="../assets/img/elo.png" alt="Elo">
        </div>
    </div>

    <div class="rodape-coluna">
        <h1>Siga-nos</h1>
        <ul>
          <li><img src="../assets/img/insta.png" alt="logo instagram"> instagram</li>  
            <li> <img src="../assets/img/twitter.png" alt="logo twitter"> Twitter</li>
            <li><img src="../assets/img/facebook.png" alt=""> Facebook</li>
            <li><img src="../assets/img/youtube.png" alt=""> YouTube</li>
            <li><img src="../assets/img/linkedin.png" alt="logo Linkedin"> LinkedIn</li>
        </ul>
    </div>

    <div class="rodape-coluna">
        <h1>Atendimento ao cliente</h1>
        <img class="qrcode" src="../assets/img/qr.png" alt="QR Code">
        <img class="loja-app" src="../assets/img/google-play.png" alt="Google Play">
        <img class="loja-app" src="../assets/img/app-store.png" alt="App Store">
    </div>
</section>

<section class="rodape-final">
    <p>&copy; 2026 Xhoppi. Todos os direitos acadêmicos reservados</p>
</section>


</body>
</html>