<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <section class="barra-inicial">
        <img class="logo" src="../assets/img/logo-xhoppi.png">
        <section class="conteudo-inicial">
            <h2>Xhoppi</h2>
        </section>
        <h3>Entre</h3>
        <p>Precisa de Ajuda?</p>
    </section>

   <section class="fundo">
    <section class="forms">
        <h2>Login</h2>

        <input type="email" placeholder="Email"  required>
        <input type="password" placeholder="Senha" required>

        <button class="btn-entrar">ENTRE</button>

        <div class="links-linha">
            <a href="#">Esqueci minha senha</a>
            <a href="#">Fazer login com SMS</a>
        </div>
    </section>
</section>

    <section class="rodape">
        
        <section class="info">

        </section>
    </section>
    
</body>
</html>