<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/produtos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Produtos</title>
</head>
<body>
    
    <header class="logo">
        <img src="../assets/img/logo-xhoppi.png" alt="Logo Xhopii">
        <h2>Xhopii</h2>
        <p><a href="index.html">Sair</a></p>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
            <li><a href="cadastro-funcionario.html">Cadastro Funcionario</a></li>
            <li><a href="cadastro-produto.html">Cadastro Produto</a></li>
            <li><a href="cadastro-loja.html">Cadastro Loja</a></li>
            <li><a href="cadastro-cupom.html">Cadastro Cupom</a></li>
            <li><a href="ver-cliente.html">Ver Clientes</a></li>
            <li><a href="ver-funcionario.html">Ver Funcionários</a></li>
            <li><a href="ver-cupom.html">Ver Cupons</a></li>
            <li><a href="ver-loja.html">Ver Lojas</a></li>
            <li><a href="produtos.html">Ver Produtos</a></li>
        </ul>
    </nav>

    <div class="descobertas">
        <h5>Produtos</h5>
    </div>
     <section class="camisas">
        <a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a>
        <a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a>
        <a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a>
        <a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a>
        <a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a><a class="linkproduto" href="ver-produto.html"><div class="cartaocamisa">
            <figure><img src="../assets/img/produto1.png" alt=""></figure>
            <p class="disponivel">Camisa Desenvolvimento Front-End CSS</p>
            <div class="info">
                <h6>Fabricante: </h6>
                <p class="disponivel"> Eletiva Uniformes</p>
            </div>
            <div class="info">
                <h6>Descrição: </h6>
                <p class="disponivel"> Uma camisa ideal para programar por mais de 12 horas</p>
            </div>
            <div class="preco">
                <p>R$59,90</p>
                <p class="disponivel">171 disponíveis</p>
            </div>
        </div></a>
    </section>

    <section class="rodape">
        <div class="rodape-coluna">
            <h1>Atendimento ao cliente</h1>
            <ul>
                <li>Central de ajuda</li>
                <li>Como comprar</li>
                <li>Métodos de pagamento</li>
                <li>Garantia Xhoppi</li>
                <li>Devolução e Reembolso</li>
                <li>Fale conosco</li>
                <li>Ouvidoria</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Sobre a Xhopii</h1>
            <ul>
                <li>Sobre nós</li>
                <li>Políticas Xhopii</li>
                <li>Política de Privacidade</li>
                <li>Programa de Afiliados Xhopii</li>
                <li>Seja um entregador Xhopii</li>
                <li>Ofertas relâmpago</li>
                <li>Xhopii Blog</li>
                <li>Impresa</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Pagamento</h1>
            <div class="pagamento-icones">
                <img src="../assets/img/pix.png" alt="Pix">
                <img src="../assets/img/boleto.png" alt="Boleto">
                <img src="../assets/img/amex.png" alt="Amex">
                <img src="../assets/img/visa.png" alt="Visa">
                <img src="../assets/img/master.png" alt="Mastercard">
                <img src="../assets/img/hipercard.png" alt="Hipercard">
                <img src="../assets/img/elo.png" alt="Elo">
            </div>
        </div>
    
        <div class="rodape-coluna">
            <h1>Siga-nos</h1>
            <ul>
              <li><img src="../assets/img/insta.png" alt="logo instagram"> instagram</li>  
                <li> <img src="../assets/img/twitter.png" alt="logo twitter"> Twitter</li>
                <li><img src="../assets/img/facebook.png" alt=""> Facebook</li>
                <li><img src="../assets/img/youtube.png" alt=""> YouTube</li>
                <li><img src="../assets/img/linkedin.png" alt="logo Linkedin"> LinkedIn</li>
            </ul>
        </div>
    
        <div class="rodape-coluna">
            <h1>Atendimento ao cliente</h1>
            <img class="qrcode" src="../assets/img/qr.png" alt="QR Code">
            <img class="loja-app" src="../assets/img/google-play.png" alt="Google Play">
            <img class="loja-app" src="../assets/img/app-store.png" alt="App Store">
        </div>
    </section>
    
    <section class="rodape-final">
        <p>&copy; 2026 Xhoppi. Todos os direitos acadêmicos reservados</p>
    </section>

    <!-- Bootstrap JS  -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>