<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver Clientes</title>
    <link rel="stylesheet" href="../assets/ver-cliente.css">
</head>
<body>
     <header class="logo">
        <img src="../assets/img/logo-xhoppi.png" alt="Logo Xhopii">
        <h2>Xhopii</h2>
        <p><a href="index.html">Sair</a></p>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="cadastro-cliente.html">Cadastro Cliente</a></li>
            <li><a href="cadastro-funcionario.html">Cadastro Funcionario</a></li>
            <li><a href="cadastro-produto.html">Cadastro Produto</a></li>
            <li><a href="cadastro-loja.html">Cadastro Loja</a></li>
            <li><a href="cadastro-cupom.html">Cadastro Cupom</a></li>
            <li><a href="ver-cliente.html">Ver Clientes</a></li>
            <li><a href="ver-funcionario.html">Ver Funcionários</a></li>
            <li><a href="ver-cupom.html">Ver Cupons</a></li>
            <li><a href="ver-loja.html">Ver Lojas</a></li>
            <li><a href="produtos.html">Ver Produtos</a></li>
        </ul>
    </nav>

    <section class="pesquisa">
        <form action="#">
        <input  type="text" placeholder="Pesquisar"> 
    </section> 
   <section class="tabela-clientes">
    <table>
        <thead>
            <tr>
                <th>Cliente</th>
                <th>ID</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Telefone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Caio</td>
                <td>008</td>
                <td>123.456.789-00</td>
                <td>10/02/1997</td>
                <td>(18) 99911-2233</td>
                <td>caio@email.com</td>
            </tr>
            <tr>
                <td>John</td>
                <td>002</td>
                <td>987.654.321-00</td>
                <td>05/11/1990</td>
                <td>(18) 99922-3344</td>
                <td>john@email.com</td>
            </tr>
            <tr>
                <td>Pedro</td>
                <td>005</td>
                <td>456.789.123-00</td>
                <td>22/07/1999</td>
                <td>(18) 99933-4455</td>
                <td>pedro@email.com</td>
            </tr>
            <tr>
                <td>Bruno</td>
                <td>010</td>
                <td>321.654.987-00</td>
                <td>18/09/1994</td>
                <td>(18) 99944-5566</td>
                <td>bruno@email.com</td>
            </tr>
            <tr>
                <td>Maria</td>
                <td>012</td>
                <td>654.321.987-00</td>
                <td>30/03/1996</td>
                <td>(18) 99955-6677</td>
                <td>maria@email.com</td>
            </tr>
            <tr>
                <td>Murilo</td>
                <td>007</td>
                <td>789.123.456-00</td>
                <td>14/06/1993</td>
                <td>(18) 99966-7788</td>
                <td>murilo@email.com</td>
            </tr>
        </tbody>
    </table>
</section>

</body>
</html>